<p>cours works!</p>
<!-- <app-programmation></app-programmation> -->
<!-- <app-web></app-web> -->
<router-outlet></router-outlet>
<h1> <strong>Liste des cours</strong></h1>
<div >
    <h2>Cours de programmation</h2>
    <br>
    <p>L'informatique est le domaine d'activité scientifique, technique et industriel concernant le traitement automatique deformation par des
        machines telles que: calculateur, système embarqué, ordinateur, console de jeux vidéo, robot, automate, etc. Wikipedial</p>
        <br>
        <button type="button" class="btn btn-danger">Lire la suite ...  </button>
</div>
<div>
    <h2>Cours de Web Design</h2>
    <br>
    <p>Le webdesigner est la personne en charge de créer les interfaces graphiques d'un site ou service web. Le webdesign est un métier qui nécessite
        la maîtrise de plusieurs pratique : ergonomie, faccessibilité et le design d'elements graphiques adaptés aux interfaces web en soit le
        webdesigner est un creatif en puissance </p>
        <br>
        <button type="button" class="btn btn-danger">Lire la suite ...  </button>
</div>
